<!-- footer.ejs partial - footer -->
            <footer class="bg-dark text-white">
                <em>&copy;2020 Kim, Petrovich, Stephens<br />
                CST336 - Internet Programming: Final Project</em><br />
                References: <a href="https://opengameart.org/content/foliage-branches-and-leafs-toon" target="_blank">Plant Icon</a>,
                <a href="https://www.pexels.com/photo/green-succulent-plants-on-pots-1470171/" target="_blank">Wallpaper</a>
            </footer>
    </body>
</html>