<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>

<!-- index.ejs - main content -->
        <main>
            <p>Welcome to Green House, the growing community of plant enthusiasts. Using our site, 
            you can catalog all your plants in a database with over 1 million plant species. In 
            addition, you can view and comment on success stories or help other plant enthusiasts 
            with their plant care. We hope you stay and plant your roots in our community.</p>
        </main>
        
        
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>
