<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>

<!-- index.ejs - main content -->
        <main>
            <h3>Posts</h3>

        </main>
        
        
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>
