<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>

<!-- index.ejs - main content -->
        <main>
            <p>Posts</p>

<!--form for submitting yourPlant to plantTalk -->
                <% if (typeof message !== "undefined" && message) {%>
                <div class="alert alert-info fade show" role="alert">
                  <strong><%= message %></strong>
                </div>
                <% } %>
                <form action="/plantTalk" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                    <select class="form-control" name="usersPlant" id="usersPlant">
                    </select>
                    <input type="text" class="form-control" name="topic" placeholder="Topic" size="100" />
                    <textarea type="text" class="form-control" name="posttext" placeholder="Your post text" rows="4"></textarea>
                    <div class="form-group">
                        <label for="file1">Attach an image</label>
                        <input type="file" class="form-control-file" name="file1">
                      </div>
                    <input type="submit" class="btn btn-outline-success" value="Post Your Plant"><br /><br />
                    </div>
                </form>
<!--form for submitting yourPlant to plantTalk -->

<!-- plantTalkContainer start -->
            <div class="plantTalkContainer">
<!-- plantTalkObj start -->
                <div id="plantTalkObj">
<!-- plantTalkUserPlant start -->
                    <div id="plantTalkUserPlant">
                        <span id="plantTalkObjects"></span>
                        <h5>Post by: Username</h5>
                        <h5>Post Date: 12/3/2020</h5>
                        <img src="img/Branch2_3.png" height="100" alt="leaf" /><br />
                        Common Name: my id=plantProperties<br />
                        Scientific Name: Plant 1 Attrib<br />
                        Family: Plant 1 Attrib<br />
                        Genus: Plant 1 Attrib<br />
                        USDA Hardiness Zone: Plant 1 Attrib<br />
                        Watering Frequency: Plant 1 Attrib<br />
                        Soil Used: Plant 1 Attrib<br />
                        Light Exposure: Plant 1 Attrib<br />
                        Fertilization: Plant 1 Attrib<br />
                        User Notes:<br />
                        <textarea name="comment" rows="4" cols="25" readonly> id=plantProperties Water the plant every other day.</textarea>
                    </div>
<!-- plantTalkUserPlant end -->
<!-- plantTalkComments start -->
                    <div id="plantTalkComments">
                        <p>Comments</p>
                        <span id="plantTalkUserComments">
                            Date: 12/3/2020<br />
                            User: asdasd<br />
                            You posted on Plant Talk.<br /><br />
                            Date: 12/3/2020<br />
                            User: bob<br />
                            Wow, you've done a great job!<br /><br />
                        </span>
                        <form action="/addCommment">
                            <input type="text" name="userComments" size="125" /><br />
                            <button>Post a Comment</button><br /><br />
                        </form>
                    </div>
<!-- plantTalkComments end -->
                </div><br /><br />
<!-- plantTalkObj end -->
<!-- plantTalkObj start -->
                <div id="plantTalkObj">
<!-- plantTalkUserPlant start -->
                    <div id="plantTalkUserPlant">
                        <span id="plantTalkObjects"></span>
                        <h5>Post by: Username</h5>
                        <h5>Post Date: 12/3/2020</h5>
                        <img src="img/Branch2_3.png" height="100" alt="leaf" /><br />
                        Common Name: my id=plantProperties<br />
                        Scientific Name: Plant 1 Attrib<br />
                        Family: Plant 1 Attrib<br />
                        Genus: Plant 1 Attrib<br />
                        USDA Hardiness Zone: Plant 1 Attrib<br />
                        Watering Frequency: Plant 1 Attrib<br />
                        Soil Used: Plant 1 Attrib<br />
                        Light Exposure: Plant 1 Attrib<br />
                        Fertilization: Plant 1 Attrib<br />
                        User Notes:<br />
                        <textarea name="comment" rows="4" cols="25" readonly> id=plantProperties Water the plant every other day.</textarea>
                    </div>
<!-- plantTalkUserPlant end -->
<!-- plantTalkComments start -->
                    <div id="plantTalkComments">
                        <p>Comments</p>
                        <span id="plantTalkUserComments">
                            Date: 12/3/2020<br />
                            User: asdasd<br />
                            You posted on Plant Talk.<br /><br />
                            Date: 12/3/2020<br />
                            User: bob<br />
                            Wow, you've done a great job!<br /><br />
                        </span>
                        <form action="/addCommment">
                            <input type="text" name="userComments" size="125" /><br />
                            <button>Post a Comment</button><br /><br />
                        </form>
                    </div>
<!-- plantTalkComments end -->
                </div><br /><br />
<!-- plantTalkObj end -->
<!-- plantTalkObj start -->
                <div id="plantTalkObj">
<!-- plantTalkUserPlant start -->
                    <div id="plantTalkUserPlant">
                        <span id="plantTalkObjects"></span>
                        <h5>Post by: Username</h5>
                        <h5>Post Date: 12/3/2020</h5>
                        <img src="img/Branch2_3.png" height="100" alt="leaf" /><br />
                        Common Name: my id=plantProperties<br />
                        Scientific Name: Plant 1 Attrib<br />
                        Family: Plant 1 Attrib<br />
                        Genus: Plant 1 Attrib<br />
                        USDA Hardiness Zone: Plant 1 Attrib<br />
                        Watering Frequency: Plant 1 Attrib<br />
                        Soil Used: Plant 1 Attrib<br />
                        Light Exposure: Plant 1 Attrib<br />
                        Fertilization: Plant 1 Attrib<br />
                        User Notes:<br />
                        <textarea name="comment" rows="4" cols="25" readonly> id=plantProperties Water the plant every other day.</textarea>
                    </div>
<!-- plantTalkUserPlant end -->
<!-- plantTalkComments start -->
                    <div id="plantTalkComments">
                        <p>Comments</p>
                        <span id="plantTalkUserComments">
                            Date: 12/3/2020<br />
                            User: asdasd<br />
                            You posted on Plant Talk.<br /><br />
                            Date: 12/3/2020<br />
                            User: bob<br />
                            Wow, you've done a great job!<br /><br />
                        </span>
                        <form action="/addCommment">
                            <input type="text" name="userComments" size="125" /><br />
                            <button>Post a Comment</button><br /><br />
                        </form>
                    </div>
<!-- plantTalkComments end -->
                </div><br /><br />
<!-- plantTalkObj end -->

            </div>
<!-- plantTalkContainer end -->  

        </main>
        
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>
<script>
    /*global fetch $ */
    $(document).ready(function() {
            populateMyPlants();

            async function populateMyPlants() {
                let url = `/api/getMyPlants`;
                let response = await fetch(url);
                let data = await response.json();
                $("#usersPlant").html("<option> Select a plant to post about </option>");
                for (let i=0; i< data.length; i++) {
                    $("#usersPlant").append(`<option value="${data[i].PlantId}"> ${data[i].Common_Name} </option>`);
                }
            }
    }); // form load
</script>