<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>

<!-- index.ejs - main content -->
        <main>
            <section>
                <div id="regWindow">
                    <% if (typeof error !== "undefined" && error) {%>
                    <div class="alert alert-primary fade show" role="alert">
                      <strong>Holy guacamole! </strong> <%= error %> 
                    </div>
                    <% } %>
                    <% if (typeof message !== "undefined" && message) {%>
                    <div class="alert alert-info fade show" role="alert">
                      <strong><%= message %></strong>
                    </div>
                    <% } %>
                    
                    <header>
                        <h3>Registration</h3>
                    </header>
                    
                    <hr />
                    <form action="/register" method="POST">
                        First Name:      <input type="text"     name="fname" />
                        Last Name:       <input type="text"     name="lname" /><br /><br />
                        Email(200 chars max):           <input type="text"     name="email" /><br /><br />
                        Username(200 chars max):       <input type="text"     name="login" id="login" /><span id="feedbackLoginName"></span><br /><br />
                        Password(8-20 chars max):        <input type="password" name="password"  id="password" /><span id="feedbackPassword"></span><br /><br />
                        Retype Password: <input type="password" name="re_password" id="re_password" /><span id="feedbackPassword2" /></span><br /><br />
                        Gender:          <input type="radio"    name="gender"    value="M"> Male <input type="radio" name="gender" value="F" /> Female<br /><br />
                        <!-- zip code has pattern attr to ensure input is just 5 numbers -->
                        Zip Code:         <input type="text"     name="zip" pattern="[0-9]{5}" title="Please enter 5 digits." placeholder="Please enter 5 digits." /><br /><br />
                        <button class="btn btn-outline-success">Register</button>
                    </form>
                </div>
            </section>
        </main>
        
        
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>
