<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>

<!-- index.ejs - main content -->
        <main>
            <section>
                <div id="signInWindow">
                            <% if (typeof error !== "undefined" && error) { %>
                            <div class="alert alert-primary fade show" role="alert">
                              <strong>Holy guacamole! </strong> <%= error %> 
                            </div>
                            <% } %>
                    <header>
                        <h3>Sign In</h3>
                    </header>
                    
                    <hr />
                    <form action="/signIn" method="POST">
                        Username:  <input type="text"     name="login" id="login" />
                        Password: <input type="password" name="password"  id="password" /><br /><br />
                        <button class="btn btn-outline-success">Sign In</button>
                    </form>
                </div>
            </section>
        </main>
        
        
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>
