<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>

<!-- index.ejs - main content -->
        <main>
            <p>Your Plants</p>
        </main>
        
        
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>
