<!-- header.ejs partial - header, nav bar -->
<%- include('partials/header.ejs') %>

<!-- index.ejs - main content -->
        <main>
            <p><%=name%>'s Plants</p>
<!-- yourPlantsContainer start -->
            <div class="yourPlantsContainer">
<!-- plantObj start -->
                <div class="plantObj">
                    <div id="plantProperties">
                        <img src="img/Branch2_3.png" height="100" alt="leaf" /><br />
                        Common Name: my id=plantProperties<br />
                        Scientific Name: Plant 1 Attrib<br />
                        Family: Plant 1 Attrib<br />
                        Genius: Plant 1 Attrib<br />
                        USDA Hardiness Zone: Plant 1 Attrib<br />
                        Watering Frequency: Plant 1 Attrib<br />
                        Soil Used: Plant 1 Attrib<br />
                        Light Exposure: Plant 1 Attrib<br />
                        Fertilization: Plant 1 Attrib<br />
                    </div>
                    <div id="plantProperties">
                        <form method="POST">
                            Notes:<br />
                            <textarea name="comment" rows="4" cols="25"> id=plantProperties Water the plant every other day.</textarea>
                            <button>Save</button> <button>Share</button>
                        </form>
                    </div>
                </div>
<!-- plantObj end -->
<!-- plantObj start -->
                <div class="plantObj">
                    <div id="plantProperties">
                        <img src="img/Branch2_3.png" height="100" alt="leaf" /><br />
                        Common Name: my id=plantProperties<br />
                        Scientific Name: Plant 1 Attrib<br />
                        Family: Plant 1 Attrib<br />
                        Genius: Plant 1 Attrib<br />
                        USDA Hardiness Zone: Plant 1 Attrib<br />
                        Watering Frequency: Plant 1 Attrib<br />
                        Soil Used: Plant 1 Attrib<br />
                        Light Exposure: Plant 1 Attrib<br />
                        Fertilization: Plant 1 Attrib<br />
                    </div>
                    <div id="plantProperties">
                        <form method="POST">
                            Notes:<br />
                            <textarea name="comment" rows="4" cols="25"> id=plantProperties Water the plant every other day.</textarea>
                            <button>Save</button> <button>Share</button>
                        </form>
                    </div>
                </div>
<!-- plantObj end -->
<!-- plantObj start -->
                <div class="plantObj">
                    <div id="plantProperties">
                        <img src="img/Branch2_3.png" height="100" alt="leaf" /><br />
                        Common Name: my id=plantProperties<br />
                        Scientific Name: Plant 1 Attrib<br />
                        Family: Plant 1 Attrib<br />
                        Genius: Plant 1 Attrib<br />
                        USDA Hardiness Zone: Plant 1 Attrib<br />
                        Watering Frequency: Plant 1 Attrib<br />
                        Soil Used: Plant 1 Attrib<br />
                        Light Exposure: Plant 1 Attrib<br />
                        Fertilization: Plant 1 Attrib<br />
                    </div>
                    <div id="plantProperties">
                        <form method="POST">
                            Notes:<br />
                            <textarea name="comment" rows="4" cols="25"> id=plantProperties Water the plant every other day.</textarea>
                            <button>Save</button> <button>Share</button>
                        </form>
                    </div>
                </div>
<!-- plantObj end -->
<!-- plantObj start -->
                <div class="plantObj">
                    <div id="plantProperties">
                        <img src="img/Branch2_3.png" height="100" alt="leaf" /><br />
                        Common Name: my id=plantProperties<br />
                        Scientific Name: Plant 1 Attrib<br />
                        Family: Plant 1 Attrib<br />
                        Genius: Plant 1 Attrib<br />
                        USDA Hardiness Zone: Plant 1 Attrib<br />
                        Watering Frequency: Plant 1 Attrib<br />
                        Soil Used: Plant 1 Attrib<br />
                        Light Exposure: Plant 1 Attrib<br />
                        Fertilization: Plant 1 Attrib<br />
                    </div>
                    <div id="plantProperties">
                        <form method="POST">
                            Notes:<br />
                            <textarea name="comment" rows="4" cols="25"> id=plantProperties Water the plant every other day.</textarea>
                            <button>Save</button> <button>Share</button>
                        </form>
                    </div>
                </div>
<!-- plantObj end -->
<!-- plantObj start -->
                <div class="plantObj">
                    <div id="plantProperties">
                        <img src="img/Branch2_3.png" height="100" alt="leaf" /><br />
                        Common Name: my id=plantProperties<br />
                        Scientific Name: Plant 1 Attrib<br />
                        Family: Plant 1 Attrib<br />
                        Genius: Plant 1 Attrib<br />
                        USDA Hardiness Zone: Plant 1 Attrib<br />
                        Watering Frequency: Plant 1 Attrib<br />
                        Soil Used: Plant 1 Attrib<br />
                        Light Exposure: Plant 1 Attrib<br />
                        Fertilization: Plant 1 Attrib<br />
                    </div>
                    <div id="plantProperties">
                        <form method="POST">
                            Notes:<br />
                            <textarea name="comment" rows="4" cols="25"> id=plantProperties Water the plant every other day.</textarea>
                            <button>Save</button> <button>Share</button>
                        </form>
                    </div>
                </div>
<!-- plantObj end -->
<!-- plantObj start -->
                <div class="plantObj">
                    <div id="plantProperties">
                        <img src="img/Branch2_3.png" height="100" alt="leaf" /><br />
                        Common Name: my id=plantProperties<br />
                        Scientific Name: Plant 1 Attrib<br />
                        Family: Plant 1 Attrib<br />
                        Genius: Plant 1 Attrib<br />
                        USDA Hardiness Zone: Plant 1 Attrib<br />
                        Watering Frequency: Plant 1 Attrib<br />
                        Soil Used: Plant 1 Attrib<br />
                        Light Exposure: Plant 1 Attrib<br />
                        Fertilization: Plant 1 Attrib<br />
                    </div>
                    <div id="plantProperties">
                        <form method="POST">
                            Notes:<br />
                            <textarea name="comment" rows="4" cols="25"> id=plantProperties Water the plant every other day.</textarea>
                            <button>Save</button> <button>Share</button>
                        </form>
                    </div>
                </div>
<!-- plantObj end -->

            </div>
<!-- yourPlantsContainer end -->
            <button>Add Plant</button>
        </main>
        
        
<!-- footer.ejs partial - footer -->
<%- include('partials/footer.ejs') %>
